{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center" style="color: white;">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item note-item">
    {{ note.data }}
    <div class="button-container">
      <button class="edit-btn" onclick="window.location.href='/edit-note/{{ note.id }}'">Edit</button>
      <button class="close-btn" onClick="deleteNote({{ note.id }})">Close</button>
    </div>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
{% endblock %}
